.auth-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  max-width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  outline: none;
}

.auth-modal__close {
  position: absolute;
  top: -80px;
  right: -131px;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-modal__close:hover {
  transform: rotate(180deg);
}

.auth-modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
  position: relative;
  background: white;
  border: 3px solid #000;
  border-radius: 14px;
}

.auth-modal__title {
  margin-bottom: 0;
  font-family: "Golos Text Bold";
  font-size: 36px;
}

.auth-modal__desc {
  font-size: 27px;
  margin-bottom: 55px;
}

.auth-modal__label {
  margin-bottom: 0;
}

.auth-modal__input {
  width: 230px;
  height: 42px;
  background: #e5e5e5;
  border: none;
  border-radius: 7px;
  text-align: center;
}

.auth-modal__submit {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: none;
  border: 3px solid #000;
  border-radius: 14px;
  margin-bottom: 100px;
  font-family: "Golos Text Bold";
  cursor: pointer;
}

.auth-modal__submit:hover {
  background: #e5e5e5;
}

.auth-modal__info {
  margin-bottom: 0;
}

.auth-modal__arrow {
  margin-bottom: -10px;
}

@media only screen and (max-width: 720px) {
  .auth-modal__close {
    top: 0;
    right: -6px;
    width: 60px;
  }
}
