.awards {
  background: #000000;
}

.awards__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 100px 150px 56px 150px;
  display: grid;
  grid-template-columns: 455px 450px 1fr;
  color: #ffffff;
}

.awards__number {
  font-size: 42px;
}

.awards__point {
  position: relative;
}

.awards__img {
  position: absolute;
}

.awards__text {
  margin-bottom: 13px;
  font-size: 27px;
}

.awards__date {
  padding: 8px 16px;
  color: #ceed63;
  font-size: 16px;
  border: 2px solid #4d4d4d;
  border-radius: 7px;
}

.awards__desc {
  padding-left: 40px;
  grid-column: 2 / 4;
}

.awards__intro {
  font-size: 27px;
}

.awards__title {
  font-size: 70px;
}

@media only screen and (max-width: 1280px) {
  .awards__intro {
    margin-bottom: 90px;
  }

  .awards__wrapper {
    padding: 32px 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "desc desc";
  }

  .awards__desc {
    grid-column: 1 / 3;
    padding-left: 0;
    text-align: center;
    grid-area: desc / desc / desc / desc;
  }

  .awards__title {
    font-size: 50px;
    text-align: center;
  }

  .awards__cell {
    grid-area: auto;
  }
}

@media only screen and (max-width: 720px) {
  .awards__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "desc";
  }

  .awards__desc {
    grid-column: 1 / 1;
  }

  .awards__intro {
    font-size: 20px;
  }

  .awards__text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .awards__title {
    font-size: 30px;
  }

  .awards__intro {
    font-size: 16px;
  }

  .awards__text {
    font-size: 16px;
  }
}
