.footer {
  background: #e5e5e5;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 100px 150px 56px 150px;
}

.footer__grid {
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr 225px 1fr;
}

.footer__text {
  margin-bottom: 0;
}

.footer__link {
  color: #000;
  text-decoration: none;
}

.footer__cell {
  margin-bottom: 32px;
}

@media only screen and (max-width: 1280px) {
  .footer__wrapper {
    padding: 32px 16px;
  }
}

@media only screen and (max-width: 720px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
}
