.news {
  margin: 0 auto;
  max-width: 1440px;
  padding: 100px 150px;
}

.news__link {
  display: block;
  margin-bottom: 100px;
  text-decoration: none;
  color: #000;
}

.news__link:hover {
  color: #504f4f;
}

.news__date {
  margin-bottom: 20px;
  font-size: 16px;
}

.news__text {
  font-size: 36px;
}

.news__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__all {
  padding: 26px 41px;
  font-size: 36px;
  line-height: 1;
  font-family: "Golos Text Bold";
  border: 3px solid #000;
  text-decoration: none;
  color: #000;
  border-radius: 8px;
}

.news__all:hover {
  background: #e5e5e5;
}

.news__subscribe {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.news__subscribe:hover {
  text-decoration: underline;
}

.news__subscribe-arrow {
  margin-right: 20px;
}

.news__subscribe-text {
  font-size: 36px;
  line-height: 1;
  font-family: "Golos Text Bold";
  text-align: left;
}

@media only screen and (max-width: 1280px) {
  .news {
    padding: 32px 16px;
  }
}

@media only screen and (max-width: 720px) {
  .news__text {
    font-size: 20px;
  }

  .news__controls {
    flex-direction: column;
  }

  .news__link {
    margin-bottom: 32px;
  }

  .news__all {
    padding: 12px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 32px;
  }

  .news__subscribe-text {
    font-size: 30px;
  }
}
