.propose-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 50px;
  width: 100%;
  background: none;
  border: 5px solid #000;
  border-radius: 10px;
  font-family: "Golos Text Bold";
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
}

.propose-button:hover {
  background: #e5e5e5;
}

@media only screen and (max-width: 1280px) {
  .propose-button {
    font-size: 50px;
    text-align: left;
  }
}
@media only screen and (max-width: 720px) {
  .propose-button {
    font-size: 30px;
    padding: 12px;
  }
}
