.propose-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 635px;
  max-width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  outline: none;
}

.propose-modal__close {
  position: absolute;
  top: -30px;
  right: -50px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.propose-modal__close:hover {
  transform: rotate(180deg);
}

.propose-modal__title {
  margin-bottom: 24px;
  font-family: "Golos Text Bold";
  font-size: 36px;
  text-align: center;
}

.propose-modal__wrapper {
  position: relative;
  padding: 64px 130px 50px 130px;
  width: 635px;
  height: 635px;
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  place-items: center;
}

.propose-modal__bg {
  width: 635px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.propose-modal__content {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.propose-modal__triangle {
  position: absolute;
  top: -10px;
  right: -130px;
  z-index: -3;
}

.propose-modal__rectangle {
  position: absolute;
  top: 105px;
  right: -230px;
  z-index: -2;
}

.propose-modal__label {
  margin-bottom: 4px;
  font-size: 18px;
  text-align: left;
}

.propose-modal__select,
.propose-modal__input,
.propose-modal__textarea {
  min-height: 43px;
  padding: 8px 13px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
}

.propose-modal__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/select-arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position-x: calc(100% - 15px);
  background-position-y: center;
}

.propose-modal__submit {
  padding: 15px;
  display: inline-flex;
  align-items: center;
  background: none;
  align-self: center;
  border: 3px solid #000;
  line-height: 1;
  border-radius: 8px;
  cursor: pointer;
}

.propose-modal__submit-text {
  font-family: "Golos Text Bold";
}

.propose-modal__submit:hover {
  background: #e5e5e5;
}

.propose-modal__submit-text {
  margin-right: 70px;
}

.propose-modal__success-text {
  text-align: left;
  line-height: 1.2;
}

.propose-modal__success-text--mb {
  margin-bottom: 60px;
}

@media only screen and (max-width: 720px) {
  .propose-modal__close {
    top: -20px;
    right: 0;
    width: 80px;
    height: 80px;
  }

  .propose-modal__wrapper {
    padding: 48px 16px;
  }

  .propose-modal__bg {
    max-width: none;
  }
}
