.sponsors {
  margin: 0 auto;
  max-width: 1440px;
  padding: 100px 150px 56px 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsors__wrapper {
  height: 120px;
}

.sponsors__text {
  display: block;
  padding-left: 8px;
}

@media only screen and (max-width: 1280px) {
  .sponsors {
    padding: 32px 16px;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, 1fr);
    overflow-x: auto;
  }
}
