.vote-modal {
  position: absolute;
  padding-bottom: 50px;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  width: 870px;
  max-width: 100%;
  display: grid;
  place-items: center;
  outline: none;
}

.vote-modal__close {
  position: absolute;
  top: -80px;
  right: -131px;
  background: none;
  border: none;
  cursor: pointer;
}

.vote-modal__close:hover {
  transform: rotate(180deg);
}

.vote-modal__wrapper {
  width: 100%;
  position: relative;
  background: white;
  border: 3px solid #000;
  border-radius: 14px;
}

.vote-modal__title {
  margin-bottom: 16px;
  font-family: "Golos Text Bold";
  font-size: 70px;
}

.vote-modal__header {
  padding: 50px 45px 40px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.vote-modal__subtitle {
  margin: 25px 90px 0 94px;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
  font-size: 36px;
  font-family: "Golos Text Bold";
}

.vote-modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 45px 50px 65px;
  border-top: 1px solid #000;
}

.vote-modal__back {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.vote-modal__back-text {
  margin-left: 10px;
  margin-top: 2px;
  line-height: 1;
}

.vote-modal__next {
  padding: 12px 15px 12px 30px;
  display: inline-flex;
  align-items: center;
  background: none;
  border: 3px solid #000;
  border-radius: 14px;
}

.vote-modal__next-text {
  margin-top: 10px;
  margin-right: 45px;
  text-align: left;
}

.vote-modal__next-category {
  margin-bottom: 12px;
  font-size: 27px;
}

.vote-modal__next-left {
  font-size: 14px;
}

.vote-modal__candidate {
  position: relative;
  padding: 25px 87px 30px 140px;
}

.vote-modal__candidate--active {
  background: no-repeat center url("../images/radio-bg.png");
  background-size: cover;
}

.vote-modal__candidate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 94px;
  width: calc(100% - 184px);
  height: 1px;
  background: #e5e5e5;
}

.vote-modal__label {
  display: block;
  margin-bottom: 10px;
  font-size: 27px;
  cursor: pointer;
}

.vote-modal__radio-desc {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.2;
}

.vote-modal__link {
  padding: 8px 16px;
  color: #000;
  font-size: 16px;
  border: 2px solid #cdcdcd;
  border-radius: 7px;
  text-decoration: none;
}

.vote-modal__link:hover {
  border-color: #000;
}

.vote-modal__radio-wrapper {
  position: relative;
}

.vote-modal__radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}

.vote-modal__label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -50px;
  width: 35px;
  height: 35px;
  border: 3px solid #000;
  border-radius: 50%;
}

.vote-modal__label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -45px;
  width: 25px;
  height: 25px;
  background: no-repeat center url("../images/radio.png");
  background-size: contain;
  transform: scale(0);
  transition: all 200ms;
}

.vote-modal__radio:checked + .vote-modal__label::after {
  transform: scale(1);
}

@media only screen and (max-width: 1280px) {
  .vote-modal__header {
    padding: 32px 16px;
  }

  .vote-modal__title {
    font-size: 50px;
  }

  .vote-modal__close {
    top: -135px;
    right: 0;
  }
}

@media only screen and (max-width: 720px) {
  .vote-modal {
    top: 50px;
  }

  .vote-modal__close {
    width: 60px;
    top: 0;
    right: -6px;
  }

  .vote-modal__subtitle {
    margin-left: 16px;
    margin-right: 16px;
  }

  .vote-modal__candidate {
    padding-right: 16px;
    padding-left: 64px;
  }

  .vote-modal__footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .vote-modal__next {
    padding-left: 15px;
  }

  .vote-modal__next-category {
    font-size: 18px;
  }

  .vote-modal__next-text {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .vote-modal__label {
    font-size: 20px;
  }

  .vote-modal__title {
    font-size: 30px;
  }

  .vote-modal__footer {
    padding-top: 32px;
    flex-direction: column;
  }

  .vote-modal__back {
    margin-bottom: 16px;
  }
}
